@font-face {
    font-family: "Cursed timer";
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    text-align: center;
    background-color: 0C4A6E;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

.column{
    margin-top: 6em;
}

.column+.column{
    margin-left: 5em;
}

h3{
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.score{
    background: #0a0001;
    font-size: 5.6rem;
    color: red;
    width: 1.5em;
    margin: .3em;
    font-family: "Cursed timer";
    border-radius: 10px;
}

button {
    background: none;
    color: white;
    font-family: "Cursed timer";
    border-color: white;
    border-radius: 10px;
    width: 3em;
}

.reset{
    width: 5em;
    margin-top: 10em;
}